clouds:
    admin:
        auth:
            auth_url: http://{{ hostvars[groups['devstack'][0]].ansible_host }}/identity/v3
            password: {{ hostvars[groups['devstack'][0]].passwd }}
            project_name: alt_demo
            user_domain_name: Default
            username: admin
        identity_api_version: '3'
        interface: public
        project_domain_name: Default
        region_name: RegionOne
